body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 135px;
}

.left-section {
    flex: 1;
    padding: 50px;
    margin-top: -90px;
}

.left-section h1 {
    font-size: 50px;
    color: #1877f2;
    margin: 0;
}

.left-section p {
    font-size: 24px;
    color: #1c1e21;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.login-box {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.login-box form {
    display: flex;
    flex-direction: column;
    
}

.login-box input {
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

.login-box button {
    padding: 14px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button.create-account {
    background-color: #42b72a;
    margin-top: 10px;
    padding: 14px 24px; /* Adjusted padding to fit text */
    width: fit-content;
    align-self: center;
}

.login-box a {
    color: #1877f2;
    text-align: center;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 14px;
}

.create-page {
    font-size: 14px;
    color: #1c1e21;
    text-align: center;
}

footer {
    background-color: #ffff;
    padding: 20px;
}

.footer-top, .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-top a, .footer-bottom a {
    color: #737373;
    margin: 5px 10px;
    font-size: 12px;
    text-decoration: none;
}

.footer-top button {
    background-color: #737373;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.footer-bottom p {
    color: #737373;
    font-size: 12px;
    margin: 10px 0 0;
}

.j{
    font-size: 11px;
    color: #737373;
}